<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/signup.css">
</head>
<body>
    <!-- Account Section Starts Here -->
    <div class="account-wrapper sign-up">
        <div class="account-form-wrapper">
            <div>
                <h2>Create a new Account</h2>
            </div>
            <form class="account-form row" method="POST" id="add_form" name="add_form">
                <div class="form--group">
            <label for="email">Email <span>*</span></label>
            <input id="email" type="text" class="form--control" name="email" placeholder="Enter Email" required>
        </div>
    </div>
    <div class="form_element">
        <div class="form--group">
            <label for="password">Password <span>*</span></label>
            <input id="password" type="password" class="form--control" name="password" placeholder="Enter Your Password" required>
        </div>
                <div class="form_element">
                    <div class="btn">
                        <div class="form--group">
                            <button class="account-button w-100" type="button" onclick="sign_up()">Sign Up</button>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="account-page-link">
                            <p>Return to <a href="#" onclick="returnHome()">Home Page</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Account Section Ends Here -->

    <script src="JS/signup.js"></script>
</body>
</html>
